
  
  .logo-box img {
    /* margin-left: 100px; */
    border: 2px solid transparent;
    margin-left: 15px;
  }
  .logo-box img:hover{
    border: 2px solid rgb(54, 80, 192);
  }
  
  .small-box {
      border: 1px solid #101011;
      border-radius: 5px;
      font-size: large;
      margin-top: 10px;
      padding-top: 5px;
    }
  

  
    .icon {
      float: left;
      margin-bottom: 2px;
      padding: 4px;

      /* margin-right: 10px; */
    }

    .image--cover {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center right;
    }
    /* .name {
      font-weight: bold;
    } */
  
    /* For Middle Box Company Information */
    .custom-box-1 {
      border: 1px solid #2309ed;
      border-radius: 5px;
      /* padding: 10px; */
      /* margin-bottom: 10px; */
    }
    .custom-title-1 {
      font-weight: bold;
    }
    @media (min-width: 768px) {
      .middle-screen-company-num {
        /* margin: 0 auto; */
      }
    }
    .layered.box {
      box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
        background-color:
        hsl(220, 60%, 72%);
  
    }

    
  
  
    /* QR code */
  
    .image-box {
        margin-top: 20px;
      border: 2px solid;
      border-radius: 5px;
      /* margin-bottom: 10px; */
      overflow: hidden;
      /* height: 170px;
      width: 170px; */
    }
    /* .image-box img {
      margin-top: 20;
    } */
    /* Colored borders */
    
    .blue-border {
      border-color: blue;
    }
